/* Link to color pallete: https://coolors.co/007f5f-2b9348-55a630-80b918-aacc00-bfd200-d4d700-dddf00-eeef20-ffff3f */

/* Nav bar */
nav {
border: 1px solid transparent;
background-color: #2B9348;
font-family: 'Work Sans', sans serif; 
}

.menu ul {
    list-style-type: none;
}

.menu li {
    padding: 0px 5px 0px 5px;
    font-weight: bold;
}

.option {
    display: inline-block;
}

.menu li a:link {
    color: #FFFF3F;
    text-decoration: none;
}

.menu li a:hover {
    color: white;
    text-decoration: none;
    transition: 1s;

}

.menu li a:visited {
    color: #FFFF3F;
    text-decoration: none;
}

.menu li a:visited:hover {
    color: white;
    text-decoration: none;
    transition: 1s;
}

h2 a {
    text-decoration: none;
    color: black;
}

/* don't delete this container or modify this flex property, it's essential for the horizontal alignment */
.container {
    display: flex;
}

/* don't touch the .headertext display property either, it needs to be block */
.headertext {
    display: block;
    padding: 5px;
    margin: 5px;
}

.header-special {
    display: inline;
    padding: 5px;
    margin: 5px;
    font-family: 'Work Sans', sans serif; 
    line-height: 2;
    font-size: 2em;
}

.home-image img {
    width: 600px;
    float: right;
    margin: 15px;
}

h1.header {
    font-family: 'Work Sans', sans serif; 
    line-height: 2;
    font-size: 2em;
}

h2.subheader {
    font-family: 'Work Sans', sans serif; 
    line-height: 2.5;
    font-size: 1.5em;
}

h3.university {
    font-family: 'Work Sans', sans serif; 
    font-size: 1.2em;
    font-weight: bolder;
}

h4.department {
    font-family: 'Work Sans', sans serif; 
    font-size: 1em;
    font-style: italic;
    display: inline;
}

h4.date {
    font-family: 'Work Sans', sans serif; 
    font-size: 1em;
    font-style: italic;
    display: inline;
    padding-left: 100px;
}

h5 {
    font-family: 'Work Sans', sans serif; 
    font-size: 1em;
    line-height: .5;
}
.datefromto {
    display: inline;
    border-bottom: 1px solid black;
}

.CV {
    border: 1px solid grey;
    padding: 10px;
    background-color: #F3FF70;
    font-family: 'Work Sans', sans serif; 
}


.UO {
    padding: 5px;
    border: 1px solid grey;
    background-color: white;
}

.UCF {
    padding: 5px;
    border: 1px solid grey;
    background-color: white;
}

.orlando {
    padding: 5px;
    border: 1px solid grey;
    background-color: white;
}

.specific-sub {
    font-style: italic;
}

span.green-a {
    color: #2B9348;
}

.bodytext {
    font-family: 'Work Sans', sans serif; 
    width: 50%;
    font-size: 1em;
    line-height: 1.5;
    display: inline-block;
    padding: 0px 5px;
}

.aboutme-image img {
    width: 600px;
    float: right;
    margin: 1px;
    transform: translateX(40px);
}

.container2 {
    display:flex;
}

.container3 {
    display: flex;
}

.aboutme-image2 img {
    width: 100%;
    height: 461px;
    float: left;
    margin: 10px 10px 5px 0px;
}

h2.download {
    font-family: 'Work Sans', sans serif; 
    font-size: 1em;
    padding-left: 50px;
    transform: translateY(20px);
}

#download {
    font-family: 'Work Sans', sans serif; 
    font-size: 1em;
    padding-left: 50px;
    color:black;
    text-decoration: none;
    font-weight: bolder;
}

#download:hover {
    color: #2B9348;
    transition: 0.5s;
}

h2.download:hover {
    color: #2B9348;
    transition: 0.5s;
}


form {
    font-family: 'Work Sans', sans serif; 
    margin: 10px;
    font-size: 1em;
}

.name {
    padding: 10px;
    display: block;
    
}

.name input {
}

.email {
    display: block;
    padding: 10px;
}

.message {
    display: block;
    padding: 10px;
}

#message {
    width: 50%;
    height: 300px;
    font-size: 1em;
    font-family: 'Work Sans', sans serif;
    font-style: italic;

}

.button {
    padding: 10px;
}

#button {
    padding: 10px;
    background-color: #2B9348;
    color:  #FFFF3F;
    font-family: 'Work Sans', sans serif;
    font-size: 1em;
    font-weight: bold;
    border-style: hidden;
    border-radius: 25%;
}

#button:hover {
    color: white;
    text-decoration: none;
    transition: 1s;
}

.foot-text {
    border: 1px solid transparent;
    background-color: #2B9348;
    font-family: 'Work Sans', sans serif;
    padding: 15px 30px;
    font-weight: bold;
    font-size: 0.7em;
    color: #FFFF3F;
}
